
    <body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid" data-rightbar-onstart="true">
        <!-- Begin page -->
        <div class="wrapper">
            <!-- ========== Left Sidebar Start ========== -->
            {{sidebar}}
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->

            <div class="content-page">
                <div class="content">
                    <!-- Topbar Start -->
                    {{navbar}}
                    <!-- end Topbar -->

                    <!-- Start Content-->
                    <div class="container-fluid">
                        
                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">
                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">SIGECM</a></li>
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                                            <li class="breadcrumb-item active">Painel Inicial</li>
                                        </ol>
                                    </div>
                                    <h4 class="page-title">Gestão do Armamento</h4>
                                </div>
                            </div>
                        </div>
                        <!-- end page title --> 

                        <div class="row">
                            <div class="col-12">
                                <div class="card widget-inline">
                                    <div class="card-body p-0">
                                        <div class="row g-0">
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="card shadow-none m-0">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-account-group-outline text-muted" style="font-size: 32px;"></i>
                                                        <h3><span>{{utilizadores}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total de Efectivo</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="card shadow-none m-0 border-start">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-pistol text-muted" style="font-size: 32px;"></i>
                                                        <h3><span>{{entradas}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total de Retiradas de Hoje</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="card shadow-none m-0 border-start">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-clipboard-arrow-down text-muted" style="font-size: 32px;"></i>
                                                        <h3><span>{{saidas}}</span></h3>
                                                        <p class="text-muted font-15 mb-0">Total de Devoluções de Hoje</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                            <div class="col-sm-6 col-lg-3">
                                                <div class="card shadow-none m-0 border-start">
                                                    <div class="card-body text-center">
                                                        <i class="mdi mdi-transit-transfer text-muted" style="font-size: 32px;"></i>
                                                        <h3><span>{{report}}</span> <i class="mdi mdi-arrow-up text-success"></i></h3>
                                                        <p class="text-muted font-15 mb-0">Total de Entradas e Saidas</p>
                                                    </div>
                                                </div>
                                            </div>
                
                                        </div> <!-- end row -->
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col-->
                        </div>
                        <!-- end row-->


                        <div class="row">

                            <div class="col-xxl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-2">
                                            <h4 class="header-title mb-0">Ultimas Arrecadações</h4>
                                            <div>
                                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                                    <option selected>Hoje</option>
                                                    <option value="1">Ontem</option>
                                                    <option value="2">Esta semana</option>
                                                </select>
                                            </div>
                                        </div>

                                        

                                        <div class="table-responsive">
                                            <table class="table table-centered table-nowrap mb-0">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Nome Completo</th>
                                                        <th scope="col">Data</th>
                                                        <th scope="col">Subunidade</th>
                                                        <th scope="col">Tipo da Arma</th>
                                                        <th scope="col">Numero da Arma</th>
                                                        <th scope="col">Tipo</th>
                                                        <th scope="col" class="text-end">Acções</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
                                                                </div>
                                                                <div class="flex-grow-1 ms-2">
                                                                    Adam Baldwin
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><i class="uil uil-calender me-1"></i>Jan 01, 2022</td>
                                                        <td>CCM</td>
                                                        <td>Pistola</td>
                                                        <td>
                                                            <span class="text-success fw-semibold">12998382</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-success-lighten text-success">Devolução</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                        </td>
                                                    </tr> <!-- end tr -->

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
                                                                </div>
                                                                <div class="flex-grow-1 ms-2">
                                                                    Peter Wallace
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><i class="uil uil-calender me-1"></i>Jan 18, 2022</td>
                                                        <td>CCM</td>
                                                        <td>Pistola</td>
                                                        <td>
                                                            <span class="text-success fw-semibold">12998382</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-danger-lighten text-danger">Retirada</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                        </td>
                                                    </tr> <!-- end tr -->

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
                                                                </div>
                                                                <div class="flex-grow-1 ms-2">
                                                                    Jacob Dunn
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><i class="uil uil-calender me-1"></i>Feb 05, 2022</td>
                                                        <td>CCM</td>
                                                        <td>Pistola</td>
                                                        <td>
                                                            <span class="text-success fw-semibold">12998382</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-success-lighten text-success">Devolução</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                        </td>
                                                    </tr> <!-- end tr -->

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
                                                                </div>
                                                                <div class="flex-grow-1 ms-2">
                                                                    Terry Adams
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><i class="uil uil-calender me-1"></i>Feb 13, 2022</td>
                                                        <td>CCM</td>
                                                        <td>Pistola</td>
                                                        <td>
                                                            <span class="text-success fw-semibold">12998382</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-success-lighten text-success">Devolução</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                        </td>
                                                    </tr> <!-- end tr -->

                                                    <tr>
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <div class="flex-shrink-0">
                                                                    <img class="rounded-circle" src="resources/views/assets/images/users/usermilitary.png" alt="Avtar image" width="33">
                                                                </div>
                                                                <div class="flex-grow-1 ms-2">
                                                                    Jason Stovall
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td><i class="uil uil-calender me-1"></i>Mar 02, 2022</td>
                                                        <td>CCM</td>
                                                        <td>Pistola</td>
                                                        <td>
                                                            <span class="text-success fw-semibold">12998382</span>
                                                        </td>
                                                        <td>
                                                            <span class="badge bg-danger-lighten text-danger">Retirada</span>
                                                        </td>
                                                        <td class="text-end">
                                                            <a href="javascript:void(0);" class="font-18 text-info me-2" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"><i class="uil uil-pen"></i></a>
                                                        </td>
                                                    </tr> <!-- end tr -->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        </div>
                        <!-- end row-->
                        <div class="row">
                            <div class="col-xxl-6">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <h4 class="header-title">Resumo do Estoque</h4>
                                            <div class="dropdown">
                                                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false">
                                                    <i class="mdi mdi-dots-vertical"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-end">
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Today</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Yesterday</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Last Week</a>
                                                    <!-- item-->
                                                    <a href="javascript:void(0);" class="dropdown-item">Last Month</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row align-items-center mt-2">
                                            <div class="col-md-6 order-2 order-md-1">
                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="flex-shrink-0">
                                                        <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-primary-lighten text-primary"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="fw-semibold mt-0 mb-1">AKM</h5>
                                                        <ul class="list-inline mb-0 text-muted">
                                                            <li class="list-inline-item"><b>26</b> Total no Estoque</li>
                                                            <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                            <li class="list-inline-item"><b>4</b> Em circulação</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="flex-shrink-0">
                                                        <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-danger-lighten text-danger"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="fw-semibold mt-0 mb-1">PM</h5>
                                                        <ul class="list-inline mb-0 text-muted">
                                                            <li class="list-inline-item"><b>30</b> Total no Estoque</li>
                                                            <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                            <li class="list-inline-item"><b>5</b> Em circulação</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center mb-3">
                                                    <div class="flex-shrink-0">
                                                        <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-success-lighten text-success"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="fw-semibold mt-0 mb-1">Norinco</h5>
                                                        <ul class="list-inline mb-0 text-muted">
                                                            <li class="list-inline-item"><b>12</b> Total no Estoque</li>
                                                            <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                            <li class="list-inline-item"><b>3</b> Em circulação</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="d-flex align-items-center">
                                                    <div class="flex-shrink-0">
                                                        <i class="mdi mdi-checkbox-blank-circle widget-icon rounded-circle bg-warning-lighten text-warning"></i>
                                                    </div>
                                                    <div class="flex-grow-1 ms-3">
                                                        <h5 class="fw-semibold mt-0 mb-1">PK</h5>
                                                        <ul class="list-inline mb-0 text-muted">
                                                            <li class="list-inline-item"><b>8</b> Total no Estoques</li>
                                                            <li class="list-inline-item"><i class="mdi mdi-circle-small"></i></li>
                                                            <li class="list-inline-item"><b>4</b> Em circulação</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 order-1 order-md-2">
                                                <div class="mb-3 mb-md-0">
                                                    <div id="project-overview-chart" class="apex-charts" data-colors="#727cf5,#ff679b,#0acf97,#ffbc00"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- end row -->
                        <!-- end row-->

                        
                    </div> <!-- container -->

                </div> <!-- content -->

                <!-- Footer Start -->
               {{footer}}
                <!-- end Footer -->

            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->


        </div>
        <!-- END wrapper -->


        <!-- Right Sidebar -->
        {{rightsidebar}}

        <div class="rightbar-overlay"></div>
        <!-- /End-bar -->

        <!-- bundle -->
        <script src="resources/views/assets/js/vendor.min.js"></script>
        <script src="resources/views/assets/js/app.min.js"></script>

        <!-- third party js -->
        <script src="resources/views/assets/js/vendor/chart.min.js"></script>
        <!-- third party js ends -->

        <!-- demo app -->
        <script src="resources/views/assets/js/pages/demo.dashboard-projects.js"></script>
        <!-- end demo js-->
         <!-- third party:js -->
        <script src="resources/views/assets/js/vendor/apexcharts.min.js"></script>
        <!-- third party end -->

         <!-- demo app -->
         <script src="resources/views/assets/js/pages/demo.crm-project.js"></script>
         <!-- end demo js-->

    </body>
